/* import major sass files */

@import "sass/variables";
@import "sass/mixins";
@import "sass/buttons";

/* Start Global rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ===== Manual Responsive ===== */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* small */
  @media (min-width: 768px) {
    width: 750px;
  }
  /* medium */
  @media (min-width: 992px) {
    width: 970px;
  }
  /* large */
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
/* ===== Manual Responsive ===== */

html {
  scroll-behavior: smooth;
}

.special-heading {
  text-align: center;
  font-size: 100px;
  color: $headingColor;
  font-weight: 800;
  margin: 0;
  letter-spacing: -3px;
  @media (max-width: 767px) {
    font-size: 60px;
  }

  + p {
    text-align: center;
    color: #575757;
    margin: -30px 0 0;
    text-align: center;
    font-size: 18px;
    @media (max-width: 767px) {
      font-size: 14px;
      margin: -20px 0 0;
    }
  }
}

/* End Global rules */

body {
  font-family: "Work Sans", sans-serif;
}

/* === start Header ===*/

.header {
  padding: 20px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    width: 60px;
  }
  .links {
    position: relative;
    ul {
      background-color: #f6f6f6;
      position: absolute;
      padding: 0;
      margin: 0;
      list-style: none;
      right: 0;
      min-width: 200px;
      top: calc(100% + 10px);
      display: none;
      z-index: 5;
      :before {
        content: "";
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent #f6f6f6 transparent;
        position: absolute;
        top: -20px;
        right: 7px;
      }

      li a {
        display: block;
        color: #333;
        text-transform: capitalize;
        text-decoration: none;
        padding: 15px;
        transition: $mainTransition;
        &:hover {
          padding-left: 25px;
          color: #000;
        }
      }
    }
    &:hover ul {
      display: block;
    }
    li {
      &:not(:last-child) a {
        border-bottom: 1px solid #ddd;
      }
    }
  }
  .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    span {
      height: 3px;
      background-color: #222;
      margin-bottom: 5px;
      cursor: pointer;
    }
    span:first-child {
      width: 100%;
    }
    span:nth-child(2) {
      width: 50%;
      transition: $mainTransition;
    }
    span:last-child {
      width: 100%;
    }
    &:hover span:nth-child(2) {
      width: 100%;
    }
  }
}
/* === end Header ===*/

/* === start Hero-area ===*/
.hero-area {
  /* position: relative;*/
  background-image: url("../images/686998.jpg");
  background-size: cover;
  height: calc(100vh - 68px);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .intro-text {
    text-transform: capitalize;
    text-align: center;
    width: 450px;
    max-width: 100%;
    h1 {
      font-size: 50px;
      font-weight: bold;
      margin: 0;
      color: $mainColor;
    }
    p {
      font-size: 19px;
      line-height: 1.8;
    }
  }
}
/* === end Hero-area ===*/

/* === start feats ===*/

/* === without grid ===*/
/*.feats {
  padding: $sectionPadding;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feat-box {
    width: 30%;
    padding: 15px;
    text-align: center;
    .feat-icon {
      font-size: 48px;
      color: $mainColor;
    }
    .feat-text {
      p {
        line-height: 1.7;
        font-size: 14px;
      }
    }
  }
}*/
/* === without grid ===*/

/* === with grid ===*/
.feats {
  padding: $sectionPadding;
  background-color: $darkerBackground;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px;
  }
  .feat-box {
    /* border: 1px solid #ccc;*/
    padding: 15px;
    text-align: center;
    .feat-icon {
      font-size: 48px;
      color: $mainColor;
    }
    .feat-text {
      h3 {
        font-weight: 800;
      }
      p {
        line-height: 1.8;
        font-size: 15px;
        color: #777;
      }
    }
  }
}

/* === with grid ===*/

/* === end feats ===*/

/* === start services ===*/

.services {
  padding: $sectionPadding;
  .container {
    .service-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 30px;
      margin: $contentMargin;
      .srv-tower {
        /*    border: 1px solid red;*/
        .srv {
          display: flex;
          padding: 15px;
          @media (max-width: 768px) {
            flex-direction: column;
            padding: 15px;
            text-align: center;
          }
          i {
            font-size: 30px;
            color: $mainColor;
            flex-basis: 60px;
            @media (max-width: 768px) {
              font-size: 45px;
            }
          }
          .srv-txt {
            flex: 1;
            h3 {
              margin: 0;
            }
            p {
              color: #777;
              line-height: 1.6;
              font-size: 15px;
            }
          }
        }
      }
      .srv-tower:nth-of-type(3) {
        display: flex;
        /* border: 1px solid red; */
        align-items: center;

        .image-box {
          text-align: center;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            width: 70px;
            height: calc(100% + 100px);
            z-index: -1;
            top: -50px;
            right: -25px;
            background-color: #2c4755;
          }
          img {
            max-width: 100%;
          }
          @media (max-width: 1199px) {
            display: none;
          }
        }
      }
    }
  }
}

/* === end services ===*/

/* === start portfolio ===*/

.portfolio {
  padding: $sectionPadding;
  background-color: $darkerBackground;
  .container {
    .port-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 30px;
      margin: $contentMargin;
      .card {
        .card-image {
          img {
            max-width: 100%;
          }
        }
        .card-text {
          background-color: #fff;
          padding: 7px 20px;
          h3 {
            margin: 0;
          }
          p {
            color: #777;
            line-height: 1.6;
            font-size: 15px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

/* === end portfolio ===*/
/* === start about ===*/
.about {
  padding: $sectionPadding;
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: $contentMargin;
    @media (max-width: 991px) {
      flex-direction: column;
      text-align: center;
    }
    .about-image {
      position: relative;
      width: 250px;
      height: 375px;
      &:before {
        content: "";
        position: absolute;
        width: 70px;
        height: calc(100% + 80px);
        z-index: -1;
        top: -40px;
        left: -25px;
        background-color: #ccc;
      }

      img {
        max-width: 100%;
      }
    }
    .about-text {
      flex-basis: calc(100% - 500px);
      padding: 60px 10px;

      p:first-of-type {
        color: #222;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.6;
      }
      hr {
        display: inline-block;
        width: 50%;
        background-color: $mainColor;
        border-color: transparent;
      }
      p:last-of-type {
        color: #777;
        line-height: 1.6;
        font-size: 15px;
      }
    }
  }
}

.about-image {
  margin: auto;
}

/* === end about ===*/
/* === start contact ===*/
.contact {
  background-color: $darkerBackground;
  padding: $sectionPadding;
  .contact-content {
    .contact-text {
      h2 {
        font-size: 35px;
        color: #2c4755;
        letter-spacing: -0.5px;
        text-align: center;
        font-weight: 800;
        @media (max-width: 767px) {
          font-size: 25px;
        }
      }
      .link {
        display: block;
        text-decoration: none;
        position: relative;
        text-align: center;
        margin-bottom: 0;
        font-size: 35px;
        font-weight: 800;
        color: $mainColor;
        z-index: 1;
        @media (max-width: 767px) {
          font-size: 25px;
        }
        &:before {
          content: "";
          position: absolute;
          background-color: #fff;
          width: 38%;
          height: 94%;
          top: 15px;
          left: 31%;
          z-index: -1;
          @media (max-width: 1199px) {
            display: none;
          }
        }
      }
    }
    .social-icons {
      display: flex;
      padding-top: 30px;
      align-items: center;
      justify-content: center;
      color: #2c4755;
      @media (max-width: 767px) {
        flex-direction: column;
      }

      p {
        margin-right: 5px;
        font-weight: 500;
      }
      i {
        margin-left: 10px;
      }
    }
  }
}

/* === end contact ===*/
/* === start footer ===*/
footer {
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c4755;
  color: #fff;
  text-align: center;
  font-size: 18px;
  span {
    color: $mainColor;
    font-weight: 600;
  }
}
/* === end footer ===*/
